In [150]:
import pandas as pd

df = pd.read_csv('heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [151]:
def find_outlier_columns(df):
    outliers_columns = []
    for column in df.select_dtypes(include=['number']).columns:
        if not df[df[column] > df[column].mean() + 3 * df[column].std()].empty:
            outlier_columns.append(column)
    return outlier_columns

outlier_columns = find_outlier_columns(df)
print(outlier_columns)

['RestingBP', 'Cholesterol', 'Oldpeak']

In [152]:
# df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [153]:
# df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [154]:
# df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [155]:
# df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [156]:
# df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [157]:
df.shape

(918, 12)

In [158]:
for cols in outlier_columns:
    df = df[df[cols]<=(df[cols].mean()+3*df[cols].std())]

In [159]:
df.shape

(902, 12)

In [160]:
transform_cols = ['Sex','ChestPainType','RestingECG','ExerciseAngina','ST_Slope']

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for cols in transform_cols:
    df[cols] = le.fit_transform(df[cols])

In [161]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [162]:
df.Sex.unique()

array([1, 0])

In [163]:
X = df.drop('HeartDisease',axis='columns')
y = df.HeartDisease

In [164]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [165]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.42896269,  0.51485643,  0.22498958, ..., -0.82065181,
        -0.84676261,  1.0456339 ],
       [-0.47545956, -1.94228905,  1.27107517, ..., -0.82065181,
         0.14079864, -0.62072967],
       [-1.74679706,  0.51485643,  0.22498958, ..., -0.82065181,
        -0.84676261,  1.0456339 ],
       ...,
       [ 0.37209878,  0.51485643, -0.82109601, ...,  1.21854359,
         0.33831089, -0.62072967],
       [ 0.37209878, -1.94228905,  0.22498958, ..., -0.82065181,
        -0.84676261, -0.62072967],
       [-1.64085227,  0.51485643,  1.27107517, ..., -0.82065181,
        -0.84676261,  1.0456339 ]])

In [166]:
from sklearn.svm import SVC
svm = SVC()

svm.fit(X_train,Y_train)
svm.score(X_test,Y_test)

0.712707182320442

In [167]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    estimator = SVC(),
    n_estimators = 100,
    max_samples = 0.8,
    oob_score=True ,
    random_state = 0
)

bag_model.fit(X_train,Y_train)
bag_model.score(X_test,Y_test)

0.712707182320442

In [168]:
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier()

tree.fit(X_train,Y_train)
tree.score(X_test,Y_test)

0.7845303867403315

In [169]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 100,
    max_samples = 0.8,
    oob_score=True ,
    random_state = 0
)

bag_model.fit(X_train,Y_train)
bag_model.score(X_test,Y_test)

0.8784530386740331

In [170]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(SVC(),X,y,cv=5)
scores.mean()

0.6895334561080417

In [171]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(DecisionTreeClassifier(),X,y,cv=5)
scores.mean()

0.742731737262124

In [172]:
bag_model = BaggingClassifier(
    estimator = SVC(),
    n_estimators = 100,
    max_samples = 0.8,
    oob_score=True ,
    random_state = 0
)

scores = cross_val_score(bag_model,X,y,cv=5)
scores.mean()

0.6850767341927564

In [173]:
bag_model = BaggingClassifier(
    estimator = DecisionTreeClassifier(),
    n_estimators = 100,
    max_samples = 0.8,
    oob_score=True ,
    random_state = 0
)

scores = cross_val_score(bag_model,X,y,cv=5)
scores.mean()

0.8147882136279925

In [175]:
from sklearn.preprocessing import StandardScaler
scaling = StandardScaler()
scaling.fit_transform([[2050]])

array([[0.]])